.images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.images img{
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.form{
    padding-top: 100px;
}