.form-and-map{
    display: flex;
    align-items: flex-start;
}

.order-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}


label {
    margin-top: 1rem;
  }


input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220); }

    input:focus {
      border: 2px solid #00ce9e;
    }
  

 textarea {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        max-height: 100px;
        min-height: 100px;
        padding: 7px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(220, 220, 220);
    }


 textarea:focus {
        border: 2px solid #00ce9e;
      }


      input[type="submit"] {
        margin-top: 2rem;
        cursor: pointer;
        background: #f9690e;
        color: white;
        border: none;
      }

      .mapouter {

        display: flex;
      }



      .swal-button {
        padding: 7px 19px;
        border-radius: 2px;
        background-color: #4962B3;
        font-size: 12px;
        border: 1px solid #3e549a;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      }