  .form-and-map {
    display: flex;
    align-items: flex-start;
  }

  .order-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
  }

  * {
    box-sizing: border-box;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  * {
    box-sizing: border-box;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #00ADB5;
    color: white;
    padding: 12px 20px;
    border: none;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  input[type=submit]:hover {
    background-color: #393E46;
  }


  input[type=submit] {
    background-color: #591BC5;
    color: white;
    padding: 12px 20px;
    border: none;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .localImage {
    width: 350px;
    margin: 20px auto;
    text-align: center;
  }

  .divLocal {
    text-align: center;
  }

  .img-cart-order {
    max-width: 400px;
    max-height: 300px;
    border-radius: 20px;
    margin-top: 30px;
    height: 300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .remove-button-cart {
    background-color: #591BC5;
    border: none;
    color: #EEEEEE;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    z-index: 1 !important;

    -o-border-radius: 10px;
  }

  .cart-div {
    z-index: 100;
    background-image: url(./online-homepage.jpg);
    display: grid;
    position: relative;
    width: 100%;
    padding: 30px;
    height: 100%;
    background-size: cover;
    text-align: center;
    padding-bottom: 330px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .overlay-cart {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  .cart-cart-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .order-box {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }

  .order-left {
    background-size: cover;
    height: 100%;
  }

  .order-right {
    padding: 25px 70px;
  }

  .order-now-title {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }

  .order-now-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #52057B;
  }

  .order-field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }

  .order-field:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #order-textarea {
    min-height: 150px;
  }

  .container {
    border-radius: 5px;

  }

  /* #52057B */
  .order-button {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #52057B;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
  }

  .order-button:hover {
    background-color: #BC6FF1;
  }

  .order-field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
  }

  .ordercontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
  }

  .ordercontainer:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }